
<% include partials/header %>

<form action='/register', method='POST'>
    <input type='email' name='email' placeholder='email'>
    <input type='password' name='password' placeholder='password'>
    <button>Sign Up</button>
    <p>Already have an account? Click <a href="/login">here</a></p>
</form>


<% include partials/footer %>